{include file="pub/head"}
<link href="/home/css/styles.css" rel="stylesheet" type="text/css" />

    <!--Slider-->
    <div class="banner">
        <div id="top" class="callbacks_container">
            <ul class="rslides" id="slider3">
                <li>
                    <div class="banner1"><img src="{:config('home_images')}home_banner01.png" class="img-responsive" alt="banner" style="width: 100%;" /></div>
                </li>
                <li>
                    <div class="banner1 banner2"><img src="{:config('home_images')}home_banner02.png" class="img-responsive" alt="banner" style="width: 100%;" /></div>
                </li>
                <li>
                    <div class="banner1 banner3"><img src="{:config('home_images')}home_banner03.png" class="img-responsive" alt="banner" style="width: 100%;" /></div>
                </li>
                <li>
                    <div class="banner1 banner4"><img src="{:config('home_images')}home_banner04.png" class="img-responsive" alt="banner" style="width: 100%;" /></div>
                </li>
                <li>
                    <div class="banner1 banner5"><img src="{:config('home_images')}home_banner05.png" class="img-responsive" alt="banner" style="width: 100%;" /></div>
                </li>
            </ul>
            <div class="clearfix"> </div>
        </div>
    </div>
    <!--/Slider-->

    <div class="heng_box">
        <div class="plan_com clearfix">
            <div class="container">
                <div class="div_title center" data-sr="move 100px, over .8s,wait .2s, enter bottom">
                    <h4>主营业务</h4>
                    <div class="en">MAIN BUSINESS</div>
                </div>
                <div class="row c1_list">
                    <!--Slider-->
                    <div class="Box">
                        <div class="content content_zhuying">
                            <div class="Box_con clearfix">
                                <span class="btnl btnt" id="btnl1"></span>
                                <span class="btnr btnt" id="btnr1"></span>
                                <div class="conbox" id="BoxUl1">
                                    <ul data-sr="move 100px, over .8s,wait .2s, enter bottom">
                                        <li class="P0 cur">
                                            <div class="item">
                                                <div class="c1_titleText">全身养生灸</div>
                                                <div class="c1_img"><img src="{:config('home_images')}upload/pro_11.jpg" class="img-responsive"></div>
                                                <div class="c1_desc">
                                                    养生灸以激活人体的自愈机能为主要
                                                    手段，配合以局部靶组织受药浓度高
                                                    全身血药浓度低的用药...
                                                </div>
                                               
                                            </div>
                                        </li>
                                        <li class="P0">
                                            <div class="item">
                                                <div class="c1_titleText">瘦身灸</div>
                                                <div class="c1_img"><img src="{:config('home_images')}upload/pro_12.jpg" class="img-responsive"></div>
                                                <div class="c1_desc">
                                                    艾灸疗法能减肥瘦身、防病在我国已
                                                    有数千年历史。早在春秋战国时期人
                                                    们已经开始广泛使用艾灸...
                                                </div>
                                                
                                            </div>
                                        </li>
                                        <li class="P0">
                                            <div class="item">
                                                <div class="c1_titleText">睡眠调理灸</div>
                                                <div class="c1_img"><img src="{:config('home_images')}upload/pro_13.jpg" class="img-responsive"></div>
                                                <div class="c1_desc">
                                                    艾灸治疗失眠,不仅可以较好的改善
                                                    人们的睡眠,更可以放松人们的身心
                                                    ,让人们...
                                                </div>
                                               
                                            </div>
                                        </li>
                                        <li class="P0">
                                            <div class="item">
                                                <div class="c1_titleText">风湿骨痛灸</div>
                                                <div class="c1_img"><img src="{:config('home_images')}upload/pro_14.jpg" class="img-responsive"></div>
                                                <div class="c1_desc">
                                                    膝关节疼痛是一个多原因的引发的疾
                                                    病。如:风湿、劳损、体重过重,  膝关
                                                    节是人体最复杂的关节,本身...
                                                </div>

                                            </div>
                                        </li>
                                        <li class="P0">
                                            <div class="item">
                                                <div class="c1_titleText">产品材料系列</div>
                                                <div class="c1_img"><img src="{:config('home_images')}upload/pro_11.jpg" class="img-responsive"></div>
                                                <div class="c1_desc">
                                                    养生灸以激活人体的自愈机能为主要
                                                    手段，配合以局部靶组织受药浓度高
                                                    全身血药浓度低的用药...
                                                </div>
                                               
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <script type="text/javascript">
                        //滚动元素id，左切换按钮，右切换按钮，切换元素个数id,滚动方式，切换方向，是否自动滚动，滚动距离，滚动时间，滚动间隔，显示个数
                        LbMove('BoxUl1', 'btnl1', 'btnr1', 'BoxSwitch1', true, 'left', true, 220, 1000, 5000, 4);
                    </script>
                    <!--/Slider-->
                </div>
            </div>
        </div>
    </div>

    <div class="heng_box heng_box_2">
        <div class="plan_com clearfix">
            <div class="container">
                <div class="div_title center" data-sr="move 100px, over .8s,wait .2s, enter bottom">
                    <h4>旗舰店</h4>
                    <div class="en">BRAND STORE</div>
                </div>

                <div class="div_msg" data-sr="move 100px, over .8s,wait .2s, enter bottom">
                    金源店于2007年10月16日正式营业，是绿岛公司在国内建立的第一家专业艾灸养生馆，会所的理念是：“全心全意为客人服务”。倡导用最古老、最自然、最有效的方法—
                    艾灸养生，来为大众健康服务。 地址：海淀区世纪城三期时雨园北门甲2-5号，预约热线：010-88866499。
                </div>
                <div class="row c1_list PT20 hidden-xs" data-sr="move 100px, over .8s,wait .2s, enter bottom">
                    <div class="col-md-3 col-sm-12 col-xs-12 P0">
                        <div class="col-md-12 col-sm-12 col-xs-12 P0">
                            <a class="item item_1">
                                <div class="c1_img"><img src="{:config('home_images')}upload/pro_03.jpg" class="img-responsive"></div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-9 col-sm-12 col-xs-12 P0">
                        <div class="col-md-4 col-sm-4 col-xs-12 heng_box_2">
                            <a class="item">
                                <div class="c1_img"><img src="{:config('home_images')}upload/pro_02.jpg" class="img-responsive"></div>
                            </a>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12 heng_box_2">
                            <a class="item">
                                <div class="c1_img"><img src="{:config('home_images')}upload/pro_02.jpg" class="img-responsive"></div>
                            </a>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12 heng_box_2">
                            <a class="item">
                                <div class="c1_img"><img src="{:config('home_images')}upload/pro_02.jpg" class="img-responsive"></div>
                            </a>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12 heng_box_2">
                            <a class="item">
                                <div class="c1_img"><img src="{:config('home_images')}upload/pro_02.jpg" class="img-responsive"></div>
                            </a>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12 heng_box_2">
                            <a class="item">
                                <div class="c1_img"><img src="{:config('home_images')}upload/pro_02.jpg" class="img-responsive"></div>
                            </a>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12 heng_box_2">
                            <a class="item">
                                <div class="c1_img"><img src="{:config('home_images')}upload/pro_02.jpg" class="img-responsive"></div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<div id="kefu1">
    <div class="cs_close"><a href="javascript:;" onClick="$('#kefu1').fadeOut()"><span>关闭</span></a></div>
    <div class="cs_tel"></div>
    <div class="cs_tel_ct">
        <span class="cs_tel_num">44505628</span> 工作日：9:00-18:00<br />周　六：9:00-18:00<br />
    </div>


    <div class="cs_qcode"><img src="/home/images/weixin_code.jpg" width="120" height="120" title="用手机微信扫一扫" /></div>
    &nbsp&nbsp&nbsp&nbsp&nbsp扫码关注太极缘
    <div class="cs_spr"></div>

</div>

{include file="pub/foot"}